首先观察数据集情况:

In [1]:
import pandas as pd
def load_data():
    csv_path = "winemag-data-130k-v2.csv"
    return pd.read_csv(csv_path)
data = load_data()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
Unnamed: 0               129971 non-null int64
country                  129908 non-null object
description              129971 non-null object
designation              92506 non-null object
points                   129971 non-null int64
price                    120975 non-null float64
province                 129908 non-null object
region_1                 108724 non-null object
region_2                 50511 non-null object
taster_name              103727 non-null object
taster_twitter_handle    98758 non-null object
title                    129971 non-null object
variety                  129970 non-null object
winery                   129971 non-null object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

观察数据集中各个数值数据的情况

In [2]:
data.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

观察文本数据的取值情况,取region_1，taster_twitter_handle两列分析

In [3]:
data["region_1"].value_counts()

Napa Valley                          4480
Columbia Valley (WA)                 4124
Russian River Valley                 3091
California                           2629
Paso Robles                          2350
Willamette Valley                    2301
Mendoza                              2301
Alsace                               2163
Champagne                            1613
Barolo                               1599
Finger Lakes                         1565
Sonoma Coast                         1474
Brunello di Montalcino               1470
Rioja                                1469
Sonoma County                        1246
Toscana                              1197
Walla Walla Valley (WA)              1066
Chianti Classico                     1062
Santa Barbara County                 1000
Carneros                              999
Yakima Valley                         997
Sta. Rita Hills                       975
Dry Creek Valley                      939
Sicilia                               925
Côtes de Provence                     859
Santa Ynez Valley                     812
Santa Lucia Highlands                 806
Lodi                                  803
Barbaresco                            794
Alexander Valley                      784
                                     ...
Breganze                                1
Riverland                               1
Apremont                                1
Vallée du Paradis                       1
Saussignac                              1
McLaren Vale-Langhorne Creek            1
Criots-Bâtard-Montrachet                1
Vin Pétillant                           1
Isle St. George                         1
Maury Sec                               1
Napa-Amador                             1
Nasco di Cagliari                       1
Chignin-Bergeron                        1
Mazoyeres-Chambertin                    1
Catalanesca del Monte Somma             1
Sonoma-Santa Barbara-Mendocino          1
Bourgogne Vézelay                       1
Lambrusco Salamino di Santa Croce       1
Côtes du Roussillon Les Aspres          1
Sonoma-Napa-Mendocino                   1
Sovana                                  1
Diano d'Alba                            1
Côtes de Forez                          1
San Martino della Battaglia             1
Custoza Superiore                       1
Goulburn Valley                         1
Australia-New Zealand                   1
Burgundy                                1
Valpolicella Valpantena Superiore       1
McLaren Vale-Padthaway                  1
Name: region_1, Length: 1229, dtype: int64

In [4]:
data["taster_twitter_handle"].value_counts()

@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: taster_twitter_handle, dtype: int64